.wrapper {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    transition: all .5s;
    /* background: linear-gradient(to bottom right, var(--blue,.5), var(--purple,.5) 26%, var(--red,.5) 50%, var(--yellow,.5) 74%, var(--green,.5)); */
}

.top {
    display: flex;
    flex-flow: column;
    align-items: center;
}

@media (min-width: 640px) {
    .top {
        flex-flow: row wrap;
    }
}

.top:after {
    height: 5px;
    display: block;
    width: 100%;
    content: "";
    background: linear-gradient(to right, var(--blue), var(--purple) 26%, var(--red) 50%, var(--yellow) 74%, var(--green));
}


.loading {

}

.loaded {

}

.new {
    place-content: center;
}

.new .top {
    flex-flow: column;
    align-items: center;
}

.new .top:after {
    display: none;
}

header {
    flex-flow: row;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
}

header img {
    display: inline-block;
    margin-right: 20px;
}

.new .top header {
    flex-flow: column;
    place-items: center;
}