:root {
    --main: rgb(7, 7, 7);
    --secondary: rgb(130,130,130);
    --red: rgb(234, 80, 69);
    --green: rgb(117, 184, 67);
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    font: 14px Rubik, Arial, sans-serif;
    color: var(--main);
    text-align: left;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    list-style: none;
}