:root {
    --main: rgb(20, 20, 20);
    --secondary: rgb(130,130,130);
    --light: rgb(250,250,250);
    --red: rgb(240, 80, 70);
    --green: rgb(117, 184, 67);
    --blue: rgb(0, 160, 222);
    --purple: rgb(202, 79, 151);
    --yellow: rgb(249, 177, 35);
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    font: 14px Rubik, Arial, sans-serif;
    color: var(--main);
    background: var(--light);
    text-align: left;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    list-style: none;
}

button {
    cursor: pointer;
}