form {
    flex: 1;
    max-width: 100%;
    text-align: left;
    display: inline-flex;
    padding: 1rem
}

input {
    font: inherit;
    padding: .5rem;
    color: var(--secondary);
    border: 2px solid var(--secondary);
    width: 100%;
    line-height: 2rem;
    font-size: 1.5rem;
    border-width: 2px 0 2px 2px;
    box-shadow: var(--secondary) 0 0 3px inset;
}

input:focus {
    outline: none;
    box-shadow: none;
}

.button {
    height: 3.3rem;
    width: 3.3rem;
    background: url(./img/search-icon.png) no-repeat center / contain var(--green);
    border: 2px solid var(--secondary);
    border-width: 2px 2px 2px 0;
    text-indent: 100%;
}