form {
    flex: 1;
    max-width: calc(100% - 2rem);
    text-align: left;
    display: inline-flex;
    border: 1px solid rgb(220,220,220);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0,0,0,0.06);
    margin: 1rem
}

input {
    font: inherit;
    padding: .5rem;
    color: var(--secondary);
    border: none;
    width: 100%;
    line-height: 2rem;
    font-size: 1.5rem;
}

input:focus {
    outline: none;
    box-shadow: none;
}

label {
    display: none;
}

.button {
    height: 3.3rem;
    width: 4.2rem;
    background: url(./img/search-icon.png) no-repeat  center / 75% var(--green);
    border: 0;
    text-indent: 100%;
}